<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  
  <div class="d-flex row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @bookuser.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th><th><%= @bookuser.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><%= @bookuser.introduction %></th>
          </tr>
        </tbody>
      </table>
      
       <div class="btn btn-outline-secondary rounded btn-lg btn-block my-3" type="button">
        <%= link_to edit_user_path(@bookuser) do %>
        <i class="fas fa-user-cog" style="color: gray;"></i>
        <% end %>
      </div>

      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <div>Title</div>
        <%= f.text_field :title %>
      <div>Opinion</div>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book', class:"btn btn-success mt-2" %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td><span><%= link_to user_path(book.user.id) do %>
                      <%= image_tag book.user.get_profile_image(100,100) %>
                      <% end %></span></td>
            <td><span><%= link_to book_path(book.id) do %> <%= book.title %> <% end %></span></td>
            <td><span><%= book.body %></span></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  
</div>