<div class="container px-5 px-sm-0">
  <div class="d-flex row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table>
        <tbody>
          <tr>
            <th>name</th><th><!%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><!%= @user.name %></th>
          </tr>
        </tbody>
      </table>
      <div class="d-flex row">
      <i class="fa-solid fa-user-gear"></i>
      <font-awesome-icon icon="fa-solid fa-user-gear" />
      </div>
    </div>
  </div>
<div class="container">
    <% if @book.errors.any? %>
      <ul class="alert alert-danger" role="alert">
      <h6 class="alert-heading">
        <%= @book.errors.count %>errors prohibited this obj from being saved:
      </h6>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
  <div class="row">
    <div class="col-md-3">
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <div>Title</div>
        <%= f.text_field :title %>
      <div>Opinion</div>
        <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table>
    <thead><tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr></thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
