  <p>Title：<%= @book.title %></p>
  <p>Body：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日：<%= @.created_at.strftime('%Y/%m/%d') %></p>
   <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>

<div class="container px-5 px-sm-0">
  <div class="d-flex row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table>
        <tbody>
          <tr>
            <th>name</th><th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><%= @user.name %></th>
          </tr>
        </tbody>
      </table>
      <div class="d-flex row">
      <i class="fa-solid fa-user-gear"></i>
      <font-awesome-icon icon="fa-solid fa-user-gear" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <div>Title</div>
        <%= f.text_field :title %>
      <div>Opinion</div>
        <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
      <% end %>
    </div>
  </div>
</div>
