<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="d-flex row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table>
        <tbody>
          <tr>
            <th>name</th><th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="d-flex row">
      <div class="col-md-3">
      <div class="btn btn-outline-secondary text-center text-black rounded" type="button">
        <i class="fa-solid fa-user-gear"></i><%= link_to " ", edit_user_path(@book.user.id), class: 'nav-link text-black' %>
      </div>
      </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <div>Title</div>
        <%= f.text_field :title %>
      <div>Opinion</div>
        <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
<table class="table table-hover table-inverse">
  <tbody>
    <tr>
      <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
      <td><p><%= @book.user.name %></p></td> 
      <td><span><%= @book.title %></span></td>
      <td><span><%= @book.body %></span></td>
      <td> 
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book.id) %>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
        <% end %>
    </tr>
  </tbody>
</table>