<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">

  <div class="d-flex row">

    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th><th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>

       <div class="btn btn-outline-secondary rounded btn-lg btn-block my-3" type="button">
        <%= link_to edit_user_path(@bookuser) do %>
        <i class="fas fa-user-cog" style="color: gray;"></i>
        <% end %>
      </div>

      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
      <div>Title</div>
        <span class="border border-light"><%= f.text_field :title %></span>
      <div>Opinion</div>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book', class:"btn btn-success mt-2" %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
            <td><span><%= link_to user_path(@bookuser) do %>
                      <%= image_tag @bookuser.get_profile_image(100,100) %><br>
                      <%= @bookuser.name %>
                      <% end %></span></td>
            <td><span><%= link_to book_path do %> 
                      <%= @book.title %>
                      <% end %></span></td>
            <td><span><%= @book.body %></span></td>
            <td>
            <% if @book.user == current_user %>
              <div class="mx-auto text-center mb-3 bg-success rounded" type="button">
                <%= link_to "Edit", edit_book_path(@book), class: 'nav-link text-white'%>
              </div>
            </td>
            <td>
              <div class="mx-auto text-center mb-3 bg-danger rounded" type="button">
                <%= link_to "Destroy", book_path(@book.id), class: 'nav-link text-white', method: :delete, "data-confirm" => "Are you sure?"%>
              </div>
            <% end %>
            </td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>

</div>